 div {
	
  	margin: auto;
  	

}
.imagecontainer {
	border-radius: 50px;
  	width: 150px;
  	height: 120px;
}
img {border: 8px solid;
  	border-color: blue;
  	margin: auto;
  	border-radius: 50px;
  	width: 150px;
  	height: 120px;}

h2{
	border: 3px solid;
	border-color: yellow;
	text-align: center;
	width: 50px;
	margin: auto;

}
.three {
border:5px solid red;
padding: 2px;


}
.threecontainer {
	width:auto;
	text-align: center;

}
div #left {
	float: left;
}

div #right {float:right;}